{% extends "base.html" %}

{% block content %}
<div class="card-wrapper subscribepage">

    <div class="card">

        <h1 class="center">Update details</h1>

        <form method="POST" action="{{ url_for('changeInfo') }}">

            <div class=" form-group">
                <label for="name">Full Name</label>
                <input type="text" name="name" value="{{ session['user']['name'] }}" class="field" required>
            </div>

            <div class=" form-group">
                <label for="username">Username</label>
                <input type="text" name="username" value="{{ session['user']['username'] }}" class="field" required>
            </div>

            <div class=" form-group">
                <label for="affiliation">Affiliation</label>
                <input type="text" name="affiliation" value="{{ session['user']['affiliation'] }}" class="field" required>
            </div>


            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" name="email" value="{{ session['user']['email'] }}" class="field" required>
            </div>



            <div class="form-group">
                <input type="submit" value="Submit" class="btn-form">
            </div>

        </form>

        <p> Already Registered? <a href="{{ url_for('signin') }}"> Sign In!</a> </p>


    </div>

</div>

{% endblock %}