{% extends "base.html" %}

{% block content %}


<div class="card-wrapper">

    <div class="card">

        <h3 class="center">Create JC Event</h1>

        <form name="creation_form" method="POST" action="{{ url_for('createJC') }}">
            
        <div class=" form-group">
            <label for="title">Title</label>
            <input type="text" name="title" class="field" required>
        </div>
 
            <div class="form-group">
                <input type="submit" value="Create New" class="btn-form">
            </div>

        </form>


    </div>

</div>


{% endblock %}