{% extends "base.html" %}

{% block content %}


<div class="card-wrapper createpage">

    <div class="card">

        <h3 class="center">Create JC Event</h1>

            <form name="creation_form" method="POST" action="{{ url_for('createJC') }}">

                <div class=" form-group">
                    <label for="title">Title</label>
                    <input type="text" name="title" class="field" required>

                    <div class="form-group">
    <!-- Bootstrap Select menu-->
    <select class="form-control" id="field" name="field">
        <option value="" disabled selected>Select Field of Research</option>
        {% for category in categories %}
        <option value="{{ category.field }}"> {{ category.field }} </option>
        {% endfor %}
    
    </select>
  </div>

                      <label for="abstract" class="form-label">Abstract</label>
                      <textarea class="form-control" name="abstract" id="abstract" rows="3"></textarea>

                      <label for="link" class="form-label">Journal Link</label>
                      <input class="form-control" name="link" id="link"  class="field" required>

                </div>

                <div class="form-group">
                    <input type="submit" value="Create New" class="btn-form">
                </div>

            </form>


    </div>

</div>


{% endblock %}