{% extends "base.html" %}

{% block content %}


<div class="card-wrapper eventpage">

    <h1 class="text-uppercase text-white font-weight-bold">Journal Club Blog
                </h1>

                <div class="accordion" id="myAccordion">

<div class="card card-accordion">
<div class="card-header" id="item1Header">
     <h5 class="mb-0">
       <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#expandable1" aria-expanded="false" aria-controls="expandable1">
         Expandable Item 1
       </button>
     </h5>
   </div>
   <div id="expandable1" class="collapse" aria-labelledby="item1Header" data-parent="#myAccordion">
     <div class="card-body">
       This is the card body. Your content is hidden initially. It is shown by clicking on the card header.
     </div>
   </div>
 </div>

 
</div>


</div>
    

{% endblock %}

