{% extends "base.html" %}

{% block content %}
<div class="card-wrapper subscribepage">

    <div class="card">

        <h1 class="center">Sign Up</h1>

        <form name="signup_form" method="POST" action="{{ url_for('signUp') }}">

            <div class=" form-group">
                <label for="name">Full Name (Required)</label>
                <input type="text" name="name" class="field" required>
            </div>

            <div class=" form-group">
                <label for="username">Username (Enter alphanumeric username 5-10 characters)</label>
                <input type="text" name="username" minlength="5" maxlength="10" pattern="^[a-zA-Z0-9]{5,10}$" class="field"  required>
            </div>

            <div class=" form-group">
                <label for="affiliation">Affiliation (Required)</label>
                <input type="text" name="affiliation" class="field" required>
            </div>


            <div class="form-group">
                <label for="email">Email (Required)</label>
                <input type="email" name="email" class="field" required>
            </div>

            <div class="form-group">
                <label for="password">Password (Enter alphanumeric password 5-15 characters)</label>
                <input type="password" name="password" class="field validate" minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$"  required>
            </div>

            <p class="error error--hidden"></p>


            

            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            <div id="flash-alerts" class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                <span id="span-flashes">{{ message }}</span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}


            <div class="form-group">
                <input type="submit" value="Sign Up" class="btn-form">
            </div>


        </form>

        <p> Already Registered? <a href="{{ url_for('signin') }}"> Sign In!</a> </p>


    </div>

</div>

{% endblock %}