{% extends "base.html" %}

{% block content %}
<div class="card-wrapper">

    <div class="card">

        <h1 class="center">Sign Up</h1>

        <form name="signup_form" method="POST" action="{{ url_for('signup') }}">
            
            <div class=" form-group">
                    <label for="name">Name</label>
                    <input type="text" name="name" class="field" required>
            </div>

            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" name="email" class="field" required>
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password" class="field" required>
            </div>

            <p class="error error--hidden"></p>

            <div class="form-group">
                <input type="submit" value="Sign Up" class="btn-form">
            </div>

        </form>

                <p> Already Registered? <a href="{{ url_for('signin') }}"> Sign In!</a> </p> 


    </div>

</div>

{% endblock %}